.body {
  margin-top: 30px;
  font-size: 38px;
  text-align: center;
  white-space: nowrap;
  @media (min-width: 320px) and (max-width: 1920px) {
    font-size: calc(22px + (38 - 22) * ((100vw - 320px) / (1920 - 320)));
  }
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.greetingBody {
  padding-left: 250px;
  display: flex;
  column-gap: 20px;
  @media (min-width: 768px) and (max-width: 1920px) {
    padding-left: calc(100px + (250 - 100) * ((100vw - 320px) / (1920 - 768)));
  }
  @media (max-width: 768px) {
    flex-direction: column;
    padding-left: 0px;
  }
}

.nameInput {
  width: 500px;
  @media (min-width: 320px) and (max-width: 1920px) {
    width: calc(200px + (500 - 200) * ((100vw - 320px) / (1920 - 320)));
  }
  @media (max-width: 768px) {
    margin: 0 auto;
  }
}
