.body {
  display: inline-block;
  background-color: rgba(#000000, 0.2);
  border-radius: 8px;
  padding: 5px;
}

.form {
  padding: 5px;
  display: flex;
  column-gap: 5px;
  .input {
    background-color: #fff;
    padding: 5px;
    width: 300px;
    border-radius: 4px;
  }

  .addTodo {
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 4px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-radius: 4px;
  height: 210px;
  padding: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}

.list::-webkit-scrollbar {
  width: 5px;
}
.list::-webkit-scrollbar-thumb {
  background-color: rgba(#000000, 0.3);
  border-radius: 4px;
}
.list::-webkit-scrollbar-track {
  background-color: inherit;
}

.item {
  display: flex;
  align-items: center;
  min-height: 32px;
  max-height: 32px;
  padding: 0 5px;
  background-color: #fff;
  border-radius: 4px;
  cursor: grab;

  .itemText {
    flex: 1 1 auto;
  }
}

.item:active {
  cursor: grabbing;
}

.filter {
  background-color: #fff;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}
